*,
html,
body {
	/* margin: 0px;
	padding: 0px;
	box-sizing: border-box; */
	scroll-behavior: smooth;
}

header p {
	text-align: center;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
	margin-top: -15px;
}

header nav ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin-top: -10px;
}

header nav ul li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
	text-align: center;
}

header nav a {
	font-size: 18px;
	font-weight: 400;
	font-family: "Open Sans", sans-serif;

	color: white;
	text-decoration: none;
}

header nav a:hover {
	font-weight: bold;
	transition: 0.1s ease-in-out;
	text-decoration: underline;
}

h1 {
	text-align: center;
	font-size: 50px;
	padding-bottom: 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-optical-sizing: auto;
	font-variation-settings: "wght" 700;
	text-shadow: 5px 5px 5px grey;
	letter-spacing: 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 30px;
	font-family: "Lora", serif;
	font-weight: 700;
	font-optical-sizing: auto;
	font-variation-settings: "wght" 700;
	margin-top: 20px;
	text-align: center;
}

h2::first-letter {
	font-size: 35px;
	color: black;
	text-transform: uppercase;
}

p {
	font-size: 17px;
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
}

.header-image {
	font-size: 20px;
	padding: 60px;
	background-color: #00c8eb;
	text-align: center;
	color: white;
}

.featured-image {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	object-position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

figcaption {
	text-align: center;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
	margin-top: 5px;
	font-style: italic;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
	border-radius: 5px;

	padding: 20px;
	margin-top: 20px;
}

.tabel table {
	width: 25em;
	border-collapse: collapse;
	margin-top: 10px;
}

.tabel td {
	padding: 10px;
	font-size: 15px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
}

.tabel .awal {
	text-transform: uppercase;
	font-weight: 600;
}

.tabel .tanggal {
	text-transform: capitalize;
	font-style: italic;
}

.tabel .isi {
	text-transform: capitalize;
}
footer {
	text-align: center;
	font-size: 15px;
	padding: 10px;
	background-color: #f1f1f1;
	border-top: 1px solid #ccc;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-optical-sizing: auto;
}
